@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 48px;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
ul,ol,li{
	list-style: none;
}
span{
	color: crimson;
}
.btn {
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.btn:hover {
	color: white;
	background-color: crimson;
}


/* common css end */

/* header-css-started */
.header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
.navber {
    display: flex;
    justify-content: space-between;
	padding: 20px;
	background-color:rgba(0, 0, 0, 0.2);
}
.navlist ul li {
    font-size: 24px;
    text-transform: uppercase;
    display: inline-block;
	padding-left: 30px;
}
.navlist ul li a{
	font-size: 24px;
	color: white;
}
.navlist ul li a:hover{
	color: crimson;
	border: 1px solid crimson;
	background-color: white;
	padding:10px;
}

.navlist {
    padding-right: 20px;
}
.brand h2 span {
    color: crimson;
}
.navlist ul li {
    font-size: 24px;
    text-transform: uppercase;
    display: inline-block;
    font-size: 20px;
}
.brand h2 {
    font-size: 32px;
    text-transform: uppercase;
    color: white;
}
/* header-css-end */



/* Hero Section */
.hero {
	background-image: url(assets/img/hero-bg.png);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
	
}
.hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
.hero-content h2{
	color: white;
}
.hero-content{
	padding: 100px;
}
.hero-content h2{
	font-size: 80px;
}
.hero-content a {
    font-size: 40px;
    padding: 15px 70px;
    border: 4px solid crimson;
    color: white;
	z-index: 100;
	
}
.hero-content a:hover{
	background-color: crimson;
	border: 2px solid #ddd;
}
.hero-btn {
    padding-top: 50px;
}

/* End Hero Section */

/* start service section css */
.service-top .col-xl-6 {
    margin: 0 auto;
}

.service h2 {
    font-size: 68px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.service p {
    font-size: 18px;
    line-height: 33px;
}

.service-top {
    padding-top: 94px;
	padding-bottom: 45px;
}

 /* service-items-css  */
 .services-items .service-item h2 {
	font-size: 32px;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.services-items .service-item p {
	color: white;
	text-align: left;
}
.services-items .service-item .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
.services-items .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 15px;
	border-radius: 10px;
	background-image: url(assets/img/img-1.png);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.services-items .service-item::after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.9;
	z-index: -1;
}
.service-item:hover .icon img {
	transform: rotate(360deg);
	transition-duration: 6s;
	transition-timing-function: inherit;
}
.service{
	padding-bottom: 115px;
}
/* end service section css */

/* started project css */
.project-top .col-xl-8{
	margin: 0 auto;
}
.project-top h2{
	font-size: 60px;
	letter-spacing: 7px;
	font-weight: 300;
	text-transform: uppercase;
}
.project-item .info-site h2 {
	font-size: 36px;
	font-weight: 500;
}
.project-item .info-site h3 {
	font-size: 20px;
	font-weight: 500;
	margin-top: 10px;
}
.project-item .info-site p {
	color: white;
    font-size: 16px;
    line-height: 26px;
}
.project-item .info-site{
	height: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
 .project .projects-items {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}

.project .projects-items .project-item img{
	width: 100%;
	height: 400px;
	object-fit: cover;
	transition: 0.3s ease transform;
}
.project .projects-items .project-item .image-site{
	overflow: hidden;
	position: relative;
}
.project .projects-items .project-item .image-site:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
}
.project .projects-items .project-item:hover .image-site img{
	transform: scale(1.1);	
}
.info-site .info-content {
    padding-top: 100px;
    padding-left:15px;
}
.info-site{
    padding:10px;
}
.project .project-item .row>*{
	padding-left: 0;
	padding-right: 0;
}
.project{
	padding-bottom: 80px;
}
/* end project css */

/* about-section css started */

.about-img{
 position: relative;
}
.borderd {
    position: absolute;
    border: 10px solid crimson;
    height: 410px;
    width: 380px;
    top: 14px;
    right: 6px;
    z-index: -5;
}
.about-img img {
    height: 400px;
    width: 100%;
	border: 10px solid white;
    object-fit: cover;
}
.about-info h2{
	font-size: 60px;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.about-info h3{
	font-size: 30px;
    font-weight: 300;
    letter-spacing: 2px;
}
.about-info p{
	font-size: 17px;
    line-height: 30px;
}
.about-info{
	padding-left: 10px;
}
.about-info .btn{
padding: 5px;
color: black;
font-size: 30px;
}
.about-info .btn:hover{
	color: white;
}
.about{
	padding-bottom:100px;
}
/* about-section css end */

/* contact css start */
.contact-head h2{
	font-size: 60px;
	letter-spacing: 7px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 15px;
}
.contact-item .icon {
	height: 100px;
	width: 100px;
}
.contact-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
	box-shadow: 0px 0px 18px 0 #0000002c;
    transition: 0.3s ease box-shadow;
	border-radius: 5px;
	padding: 30px 0px;
	margin-bottom: 20px;
}
.contact{
	padding:50px 0px 150px;
}
.contact-item p{
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
}
/* contact css end */

/* started footer section css */
 .brand{
	text-align: center;
 }
 footer h2{
	text-align: center;
 }
 .social-icon .social-item img {
    max-width: 50px;
    max-height: 50px;
}
.social-icon{
	display: flex;
}
footer{
	background-color:rgba(0, 0, 0, 0.8);
	padding-top: 50px;
	color: white;
}
footer p{
	color: white;
	text-align: center;
}
.social-icon {
    text-align: center;
    justify-content: center;
    padding: 20px 0px;
}
/* end footer section css */